@import url(./_common_colors.scss);

.f-bold {
    font-weight: bold;
}

.f-purple {
    color: #6D4976;
}

.f-gray {
    color: #777777 !important;
}

.f-orange {
    color: #E84E27;
}

.f-salmon {
    color: #F3C7AB;
}

.f-blue {
    color: #47A3C5;
}

.f-white {
    color: white;
}

.f-red {
    color: red;
}

.break-line {
    white-space: pre;
}

.f-under-line {
    text-decoration: underline;
}

.f-2px {
    font-size: 2px;
}

.f-4px {
    font-size: 4px;
}

.f-6px {
    font-size: 6px;
}

.f-8px {
    font-size: 8px;
}

.f-10px {
    font-size: 10px;
}

.f-12px {
    font-size: 12px;
}

.f-14px {
    font-size: 14px;
}

.f-16px {
    font-size: 16px;
}

.f-18px {
    font-size: 18px;
}

.f-20px {
    font-size: 20px;
}

.f-22px {
    font-size: 22px;
}

.f-24px {
    font-size: 24px;
}

.f-26px {
    font-size: 26px;
}

.f-28px {
    font-size: 28px;
}

.f-30px {
    font-size: 30px;
}

.f-32px {
    font-size: 32px;
}

.f-34px {
    font-size: 34px;
}

.f-36px {
    font-size: 36px;
}

.f-40px {
    font-size: 40px;
}

.lh-2px {
    line-height: 2px;
}

.lh-4px {
    line-height: 4px;
}

.lh-6px {
    line-height: 6px;
}

.lh-8px {
    line-height: 8px;
}

.lh-10px {
    line-height: 10px;
}

.lh-12px {
    line-height: 12px;
}

.lh-14px {
    line-height: 14px;
}

.lh-16px {
    line-height: 16px;
}

.lh-18px {
    line-height: 18px;
}

.lh-20px {
    line-height: 20px;
}

.lh-22px {
    line-height: 22px;
}

.lh-24px {
    line-height: 24px;
}

.lh-26px {
    line-height: 26px;
}

.lh-28px {
    line-height: 28px;
}

.lh-30px {
    line-height: 30px;
}

.lh-32px {
    line-height: 32px;
}

.lh-34px {
    line-height: 34px;
}

.lh-36px {
    line-height: 36px;
}

.lh-40px {
    line-height: 40px;
}
