<div class="row pt-32px justify-content-center ">
  <div class="col">
    <app-text-field [fieldName]="loginField.fieldName" [fieldId]="loginField.fieldId"
      [fieldLabel]="loginField.fieldLabel" [fieldType]="loginField.fieldType" [isRequired]="loginField.isRequired"
      [fieldMask]="loginField.fieldMask" [fieldDropMask]="true" (value)="user.login = $event"></app-text-field>
  </div>
</div>
<div class="row pt-32px justify-content-center ">
  <div class="col">
    <app-text-field [fieldName]="nameField.fieldName" [fieldId]="nameField.fieldId"
      [fieldLabel]="nameField.fieldLabel" [fieldType]="nameField.fieldType" [isRequired]="nameField.isRequired"
      [fieldMask]="nameField.fieldMask" [fieldDropMask]="true" (value)="user.name = $event"></app-text-field>
  </div>
  <div class="col">
    <app-text-field [fieldName]="emailField.fieldName" [fieldId]="emailField.fieldId"
      [fieldLabel]="emailField.fieldLabel" [fieldType]="emailField.fieldType" [isRequired]="emailField.isRequired"
      [fieldMask]="emailField.fieldMask" [fieldDropMask]="true" (value)="user.email = $event"></app-text-field>
  </div>
</div>
<div class="row pt-32px justify-content-center ">
  <div class="col">
    <app-text-field [fieldName]="passwordField.fieldName" [fieldId]="passwordField.fieldId"
      [fieldLabel]="passwordField.fieldLabel" [fieldType]="passwordField.fieldType"
      [isRequired]="passwordField.isRequired" [fieldHaveMask]="passwordField.fieldHaveMask"
      [fieldMask]="passwordField.fieldMask" [isPassword]="passwordField.isPassword"
      [showPassword]="passwordField.showPassword" (value)="user.password = $event"></app-text-field>
  </div>
  <div class="col">
    <app-text-field [fieldName]="confirmPasswordField.fieldName" [fieldId]="confirmPasswordField.fieldId"
      [fieldLabel]="confirmPasswordField.fieldLabel" [fieldType]="confirmPasswordField.fieldType"
      [isRequired]="confirmPasswordField.isRequired" [fieldHaveMask]="confirmPasswordField.fieldHaveMask"
      [fieldMask]="confirmPasswordField.fieldMask" [isPassword]="confirmPasswordField.isPassword"
      [showPassword]="confirmPasswordField.showPassword" (value)="confirmPassword = $event"></app-text-field>
  </div>
</div>
<div class="row pt-24px">
  <div class="col">
    <button class="btn btn-success" (click)="register()">
      LOGIN
    </button>
  </div>
</div>
<div class="row pt-16px">
  <div class="col center">
    <span class="f-under-line f-14px f-white link" routerLink="/login">
      Have an account? Make Login.
    </span>
  </div>
</div>