<div class="post-section">
  <div class="container">
    <div class="row pt-24px">
      <div class="col">
        <app-avatar [currentUser]="currentUser"></app-avatar>
      </div>
    </div>
    <div class="row pt-16px">
      <div class="col">
        <app-text-area-field [fieldName]="textAreaField.fieldName" [fieldId]="textAreaField.fieldId"
          [fieldLabel]="textAreaField.fieldLabel" [fieldType]="textAreaField.fieldType" [fieldNgModel]="post.textPost"
          [isRequired]="textAreaField.isRequired" [fieldMask]="textAreaField.fieldMask" [fieldDropMask]="true"
          (value)="post.textPost = $event"></app-text-area-field>
      </div>
    </div>
    <div class="row pt-24px pb-24px justify-content-end align-items-center">
      <div class="col-sm-12 col-md-2 center">
        <span class="f-under-line f-gray link" (click)="post.textPost = ''">Cancel</span>
      </div>
      <div class="col-sm-12 col-md-3 center">
        <button class="btn btn-primary" (click)="createPost()">TWEET</button>
      </div>
    </div>
  </div>
</div>